<div class="form-signin">
  <img class="mb-4" src="./assets/img/logo.png" alt="" width="150" height="150">
  <h1 class="h3 mb-3 font-weight-normal">Company hierarchy</h1>

  <br/>

  <label for="file">Please select a file and press the button to view the hierarchy: </label>
  <br/>
  <br/>
  <input type="file" (change)="handleUpload($event)" accept=".json, .txt" required>  
  
  <br/>
  <br/>

  <button class="btn btn-lg btn-primary btn-block" (click)="viewHierarchy()" >View hierarchy</button>

  <br/>
  <br/>

  <h5 style="color: red">{{errorMessage}}</h5>
 
  <tree-root #tree [nodes]="nodes" [options]="options"></tree-root>

  <img class="mb-4" src="./assets/img/loading.gif" alt="" width="200" height="200" *ngIf="isLoading">

 
  <p class="mt-5 mb-3 text-muted">&copy; Personia</p>
</div>